<%= form_with(model: team, class: "form-container", local: true) do |form| %>
  <% if team.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h4>
      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter team name" %>
  </div>

  <div class="form-group">
    <%= form.label :project_id, "Project" %>
    <%= form.collection_select :project_id, Project.all, :id, :title, { prompt: 'Select a project' }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit team.new_record? ? 'Create Team' : 'Update Team', class: "btn btn-primary" %>
  </div>
<% end %>
