<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <%= link_to 'Show', team, class: 'btn btn-primary' if can? :read, team %>
          <%= link_to 'Edit', edit_team_path(team), class: 'btn btn-secondary' if can? :update, team %>
          <%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, team %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Team %>
  <%= link_to 'New Team', new_team_path, class: 'btn btn-success' %>
<% end %>
