<p style="color: green"><%= notice %></p>

<% if @team.present? %>
  <h2><%= @team.name %></h2>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td><%= @team.name %></td>
      </tr>
    </tbody>
  </table>

  <div>
    <% if can? :update, @team %>
      <%= link_to "Edit this team", edit_team_path(@team), class: 'btn btn-primary' %>
    <% end %>
    <% if can? :read, Team %>
      <%= link_to "Back to teams", teams_path, class: 'btn btn-secondary' %>
    <% end %>
    <% if can? :destroy, @team %>
      <%= button_to "Destroy this team", @team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
<% else %>
  <p>Team not found</p>
<% end %>
