<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Goals</th>
      <th scope="col">Document</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.goals %></td>
        <td>
          <% if project.document.attached? %>
            <%= link_to 'Download Document', url_for(project.document), class: 'btn btn-primary' %>
          <% else %>
            No Document
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', project, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-secondary' %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
