<p style="color: green"><%= notice %></p>

<% if @project.present? %>
  <h2><%= @project.title %></h2>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Title</th>
        <td><%= @project.title %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <th>Goals</th>
        <td><%= @project.goals %></td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-primary' %>
    <%= link_to "Back to projects", projects_path, class: 'btn btn-secondary' %>
    <%= button_to "Destroy this project", @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% if @project.document.attached? %>
      <%= link_to 'Download Document', url_for(@project.document), class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% else %>
  <p>Project not found</p>
<% end %>
