<div class="container py-5">
  <% if current_user %>
    <h3 class="mb-4">Welcome, <%= current_user.name %>!</h3>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 shadow animated">
        <div class="card-header" style="background-color: #6c757d; color: #ffffff;">
          <h4>Projects</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @projects.each do |project| %>
              <li class="list-group-item"><%= link_to project.title, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow animated">
        <div class="card-header bg-secondary text-white">
          <h4>Tasks</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @tasks.each do |task| %>
              <li class="list-group-item"><%= link_to task.name, task_path(task) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow animated">
        <div class="card-header bg-secondary text-white">
          <h4>Teams</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @teams.each do |team| %>
              <li class="list-group-item"><%= link_to team.name, team_path(team) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if current_user && current_user.admin? %>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-header bg-danger text-white">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Manage Users</h4>
              <%= link_to 'Create User', new_user_registration_path, class: 'btn btn-success' %>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% User.all.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                    <%= link_to 'Delete', cancel_user_registration_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <style>
    /* Simple fade-in animation */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .animated {
      animation-name: fadeIn;
      animation-duration: 1.5s;
    }
  </style>
</div>
